# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Secrets / env
.env
.env.*

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
db.sqlite3
db*.sqlite3
__pycache__/
*.py[cod]
.venv/
.idea/
.DS_Store
.env
.env.*
staticfiles/
