{% extends "b2b/base.html" %}
{% load form_extras %}
{% block title %}Новий пароль{% endblock %}
{% block content %}
<h2 class="h4 mb-3">Введіть новий пароль</h2>
<form method="post" class="card p-3">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    <label class="form-label">Новий пароль</label>
    {{ form.new_password1.errors }}
    {{ form.new_password1|add_class:"form-control" }}
  </div>
  <div class="mb-3">
    <label class="form-label">Повторіть пароль</label>
    {{ form.new_password2.errors }}
    {{ form.new_password2|add_class:"form-control" }}
  </div>
  <div class="mb-3">
  <button class="btn btn-primary">Зберегти</button>
    </div>
</form>
{% endblock %}
